
<div class="container">
	<div class="row">
		<div class="col-lg-12">
<% if @professionnels.count > 0 %>

<% @professionnels.each do |p|  %>
	<ul>
	<li><%= p.last_name %></li>
	<li><%= p.first_name %></li>
	<li><%= p.specialite %></li>
	<li><%= p.country %></li>
	<li><%= p.adresse %></li>
	</ul>
<% end %>

<% else %>

<p> Aucun résultat </p>

<% end %>

</div>
</div>
</div>