<div class="container">
  <div class ="row">
    <div class="col-lg-6 col-xs-12">
      <%= notice %>
      <%= form_for :professionnel, url: public_professionnels_path do |f| %>
        <p>
          <%= f.label :Nom, "Nom*"%><br>
          <%= f.text_field :last_name , :required => true %>
        </p>
       
        <p>
          <%= f.label :Prenom, 'Prénom*' %><br>
          <%= f.text_field :first_name, :required => true %>
        </p>

         <p>
          <%= f.label :Adresse, 'Adresse*' %><br>
          <%= f.text_field :adresse, :required => true %>
        </p>
         <p>
          <%= f.label :Ville, 'Ville*' %><br>
          <%= f.text_field :city, :required => true %>
        </p>
         <p>
          <%= f.label :Pays, 'Pays*' %><br>
          <%= f.text_field :country, :required => true %>
        </p>
        <p>
          <%= f.label :Specialite, 'Spécialité*' %><br>
          <%= f.select :specialite, options_for_select(['Dentiste','Medecin-generaliste','Gynecologue','Ophtalmologue','Orl-oto-rhino-Laryngologie','Podologue','Dermatologue','Pediatre','Masseur-kinesitherapeute'])
          %>
        <p>
          <%= f.submit%>
        </p>
      <% end %>

    <p> Tous les champs * sont requis </p>
    </div>
        <div class="col-lg-6 col-xs-12">
                <hr>
                 <%= image_tag('public/docteur.png') %>
                <hr>


       </div>
  </div>
</div>